.postion-box[data-v-61431d95]{position:relative;width:180px;display:inline-block}.postion-box .percent-position[data-v-61431d95]{position:absolute;right:67px;top:4px}.text-style[data-v-61431d95]{padding:0 0 0 10px}@media screen and (max-width:768px){.text-style[data-v-61431d95]{display:block}}