.postion-box[data-v-b8bea68e]{position:relative;width:180px;display:inline-block}.postion-box .percent-position[data-v-b8bea68e]{position:absolute;right:67px;top:4px}.text-style[data-v-b8bea68e]{padding:0 0 0 10px}@media screen and (max-width:768px){.text-style[data-v-b8bea68e]{display:block}}