.postion-box[data-v-2dbc5db6]{position:relative;width:180px;display:inline-block}.postion-box .percent-position[data-v-2dbc5db6]{position:absolute;right:60px;top:4px}.text-style[data-v-2dbc5db6]{padding:0 0 0 10px}@media screen and (max-width:768px){.text-style[data-v-2dbc5db6]{display:block}}